html, body {
  margin: 0;
  padding: 0; }

input:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white  inset !important; }

input {
  -webkit-appearance: none; }

.wrap {
  max-width: 500px;
  margin: 0 auto; }

.logo {
  font-weight: 800;
  display: block;
  color: #50596c;
  text-decoration: none;
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.03); }
  .logo span {
    float: right;
    margin-right: 16px; }

.half {
  opacity: 0.5;
  font-weight: 400 !important; }

.more {
  right: 30px;
  width: 30px;
  position: absolute; }

.content {
  width: calc(100% - 30px);
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 8px;
  min-height: 250px;
  border-radius: 8px; }
  .content .title {
    color: rgba(0, 0, 0, 0.7);
    line-height: 2;
    margin-bottom: 8px;
    font-size: 0.7rem; }
  .content img.mmgif {
    display: block;
    width: 100%;
    opacity: 1; }

.to_page_wrap {
  width: calc(100% - 48px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .to_page_wrap .to_page {
    width: 100%; }
  .to_page_wrap a {
    display: block; }

.current {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 2px; }
  .current input {
    width: 70px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 6px;
    box-sizing: border-box;
    outline: none;
    text-align: center; }
  .current .confirm {
    width: 80px;
    height: 40px;
    line-height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: inline-block;
    margin-left: 12px; }

.hide {
  display: none; }

.top_bar {
  height: 36px;
  line-height: 36px;
  padding-left: 24px;
  font-weight: 800;
  position: relative;
  font-size: 0.7rem; }
  .top_bar .accordion {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 16px;
    top: 0; }
    .top_bar .accordion i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }

.to_list {
  position: absolute;
  top: 40px;
  right: 10px;
  width: 100px;
  text-align: center;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 12px;
  z-index: 1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03); }
  .to_list a {
    display: block;
    color: rgba(0, 0, 0, 0.7);
    line-height: 2.3; }

.footer {
  margin-bottom: 20px;
  opacity: .4;
  text-align: center; }
