html, body {
  margin: 0;
  padding: 0; }

.wrap {
  max-width: 500px;
  margin: 0 auto; }

.content {
  width: calc(100% - 30px);
  margin: 20px auto;
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 8px;
  border-radius: 8px; }
  .content .title {
    color: rgba(0, 0, 0, 0.7);
    line-height: 2;
    margin-bottom: 8px;
    font-size: 0.7rem; }
  .content img.mmgif {
    display: block;
    width: 100%;
    opacity: 0.05; }

.to_page_wrap {
  width: calc(100% - 48px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .to_page_wrap .to_page {
    width: 100%; }
  .to_page_wrap a {
    display: block; }

.current {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 2px; }
  .current input {
    width: 70px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 6px;
    box-sizing: border-box;
    outline: none;
    text-align: center; }
  .current .confirm {
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: inline-block;
    margin-left: 12px;
    transform: translateY(2px); }

.hide {
  display: none; }

.top_bar {
  margin: 20px; }
  .top_bar .accordion i {
    position: absolute;
    right: 16px; }
