
html, body {
    margin: 0;
    padding: 0;
}

.content {
    width: calc(100% - 60px);
    margin: 40px auto;
}

.content .title {
    color: rgba(0, 0, 0, 0.7);
}

.content img.mmgif {
    display: block;
    width: 100%;
    margin: 20px auto;

}