doctype html
html(lang="en")
  head
    title= pageTitle
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    link(rel="stylesheet", href=`http://localhost:8000/css/index.css`)
  body
    .wrap
      each item in data
        .content
          .title #{item.title}
          img.mmgif(src=`http://localhost:8000/${page}/${item.name}`)